body {
    margin: 0px;
    padding: 0px;
    font-family: body-font;
   
}

:root {
    --primary-color: #00b050;
    --secondary-color: #000000;
    --facebook-color: #3b66de;
    --google-color : #e33e3b;
    --gray-color : #ccc;
    --input-bg-color: #F5F5F4;
    --black-color: #000;
}

@font-face {
    font-family: title-font;
    src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: sub-title-font;
    src: url(Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: body-font;
    src: url(Poppins/Poppins-Regular.ttf);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: title-font;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
@media (max-width: 480px) {
  .auth-page-background .auth-overlay {
    padding: 20px;
  }

  .auth-page-background .auth-overlay .log-container .login-container {
    padding: 32px 22px;
  }

  .auth-page-background .auth-overlay .log-container .login-container .top-text {
    font-size: 28px;
  }
}
