@font-face {
  font-family: 'pticons';
  src: url('../fonts/pticons.woff?ci6x92') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pticon-"], [class*=" pticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pticons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pticon-fuel:before {
  content: "\e937";
}
.pticon-wrench:before {
  content: "\e936";
}
.pticon-valve:before {
  content: "\e935";
}
.pticon-power-plant:before {
  content: "\e934";
}
.pticon-package:before {
  content: "\e933";
}
.pticon-oil-tank:before {
  content: "\e932";
}
.pticon-gloves:before {
  content: "\e931";
}
.pticon-factory:before {
  content: "\e930";
}
.pticon-barrel:before {
  content: "\e929";
}
.pticon-quote:before {
  content: "\e928";
}
.pticon-plus-2:before {
  content: "\e927";
}
.pticon-plus:before {
  content: "\e926";
}
.pticon-pinterest:before {
  content: "\e925";
}
.pticon-facebook:before {
  content: "\e924";
}
.pticon-twitter:before {
  content: "\e923";
}
.pticon-telegram:before {
  content: "\e922";
}
.pticon-instagram:before {
  content: "\e921";
}
.pticon-like-2:before {
  content: "\e920";
}
.pticon-like:before {
  content: "\e919";
}
.pticon-star-2:before {
  content: "\e918";
}
.pticon-star:before {
  content: "\e917";
}
.pticon-remove:before {
  content: "\e916";
}
.pticon-add:before {
  content: "\e915";
}
.pticon-checkmark:before {
  content: "\e914";
}
.pticon-phone:before {
  content: "\e913";
}
.pticon-envelope:before {
  content: "\e912";
}
.pticon-location:before {
  content: "\e911";
}
.pticon-share:before {
  content: "\e910";
}
.pticon-search:before {
  content: "\e909";
}
.pticon-bag:before {
  content: "\e908";
}
.pticon-chevron-up:before {
  content: "\e907";
}
.pticon-chevron-down:before {
  content: "\e906";
}
.pticon-chevron-left:before {
  content: "\e905";
}
.pticon-chevron-right:before {
  content: "\e904";
}
.pticon-arrow-up:before {
  content: "\e903";
}
.pticon-arrow-down:before {
  content: "\e902";
}
.pticon-arrow-left:before {
  content: "\e901";
}
.pticon-arrow-right:before {
  content: "\e900";
}
