@charset "UTF-8";
/* Default Elementor settings
 * ------------------------------------------- */
:root {
  --container-default-padding-block-start: 15px;
  --container-default-padding-inline-end: 15px;
  --container-default-padding-block-end: 15px;
  --container-default-padding-inline-start: 15px;
}

.elementor-document-handle {
  display: none !important;
}

.elementor-widget-text-editor .elementor-widget-container a {
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 1.5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), background 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.elementor-widget-text-editor .elementor-widget-container a:hover {
  background-size: 100% 1.5px;
}

.counter-align-left .elementor-counter .elementor-counter-number-prefix {
  display: none;
}

.counter-align-left .elementor-counter .elementor-counter-title {
  text-align: left;
}

/* Animations
 * ------------------------------------------- */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Swiper
 * ------------------------------------------- */
.swiper-overflow-visible .swiper {
  overflow: visible;
}

.swiper-slide {
  margin-bottom: 0 !important;
}

.elementor-widget-wrap.e-swiper-container {
  --e-column-margin-right: 0px !important;
  --e-column-margin-left: 0px !important;
}

/* Swiper navigation */
.pt-swiper-arrows {
  --arrow-size: 40px;
}

.pt-swiper-button-prev,
.pt-swiper-button-next {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: calc(50% - var(--arrow-size) / 2);
  width: var(--arrow-size);
  text-align: center;
  transition: opacity 0.3s;
}
.pt-swiper-button-prev::before,
.pt-swiper-button-next::before {
  display: block;
  font-family: pticons;
  font-size: 12px;
  line-height: var(--arrow-size);
  transition: transform 0.3s;
}
.pt-swiper-button-prev.swiper-button-disabled,
.pt-swiper-button-next.swiper-button-disabled {
  opacity: 0.2;
}

.pt-swiper-button-prev {
  left: -58px;
  background-color: var(--pt-color-bg-secondary);
}
.pt-swiper-button-prev::before {
  content: "\e905";
}
.pt-swiper-button-prev:hover::before {
  transform: translateX(-3px);
}

.pt-swiper-button-next {
  right: -58px;
  background-color: var(--pt-color-bg-secondary);
}
.pt-swiper-button-next::before {
  content: "\e904";
}
.pt-swiper-button-next:hover::before {
  transform: translateX(3px);
}

.arrows-together .pt-swiper-arrows {
  z-index: 2;
  position: absolute;
  display: flex;
  gap: 0;
  background-color: var(--pt-color-bg-secondary);
}
.arrows-together .pt-swiper-arrows::before {
  content: "";
  opacity: 0.3;
  position: absolute;
  left: 50%;
  top: 10px;
  width: 1px;
  height: 20px;
  background-color: currentColor;
}
.arrows-together .pt-swiper-button-prev,
.arrows-together .pt-swiper-button-next {
  position: static;
  background-color: transparent !important;
}

.arrows-align-default .pt-swiper-arrows {
  bottom: 0;
  right: 0;
}
.arrows-align-top-left .pt-swiper-arrows {
  top: 0;
  left: 0;
}
.arrows-align-top-right .pt-swiper-arrows {
  top: 0;
  right: 0;
}
.arrows-align-bottom-left .pt-swiper-arrows {
  bottom: 0;
  left: 0;
}
.arrows-align-bottom-right .pt-swiper-arrows {
  right: 0;
  bottom: 0;
}
.arrows-align-bottom-center .pt-swiper-arrows {
  position: static;
  justify-content: center;
  margin-top: 48px;
}

@media (max-width: 1024px) {
  .pt-swiper-arrows {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 24px;
  }
  .pt-swiper-arrows .pt-swiper-button-prev,
.pt-swiper-arrows .pt-swiper-button-next {
    position: static;
    transform: none !important;
  }
}
/* Swiper pagination */
.pt-swiper-pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
  --swiper-pagination-bullet-inactive-opacity: .2;
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-color: var(--pt-color-text);
  --swiper-pagination-bullet-inactive-color: var(--pt-color-text);
}
.pt-swiper-pagination .swiper-pagination-bullet {
  border-radius: 1px;
  transition: opacity 0.3s;
}

/* Swiper scrollbar */
.pt-swiper-scrollbar {
  width: 100%;
  height: 6px;
  margin-top: 54px;
  background-color: #ABB3DC33;
}
.pt-swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 0;
  background-color: var(--pt-color-secondary);
}

/* Masonry
 * ------------------------------------------- */
.grid-sizer {
  position: absolute;
}

/* Filter
 * ------------------------------------------- */
.filter-buttons {
  margin-bottom: 42px;
}
.filter-buttons .wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filter-buttons button {
  position: relative;
  padding: 12px 20px;
  border-radius: 0;
  background-color: var(--pt-color-bg-secondary);
  color: currentColor;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}
.filter-buttons button:not(.active):not(.current):not(:hover) span {
  opacity: 0.7;
}
.filter-buttons button:hover {
  background-color: var(--pt-color-accent);
  color: #fff;
}
.filter-buttons button.current, .filter-buttons button.active {
  background-color: var(--pt-color-accent);
  color: #fff;
}
.filter-buttons button sup {
  display: none;
}

/* Load More
 * ------------------------------------------- */
.loadmore-button-block {
  text-align: center;
}
.loadmore-button-block .loadmore-button {
  cursor: pointer;
}

/* Rating
 * ------------------------------------------- */
.pt-rating {
  display: flex;
  gap: 10px;
}
.pt-rating i {
  position: relative;
  display: inline-block;
  color: #F0A81D40;
  font-style: normal;
  transition: color 0.3s;
}
.pt-rating i::before {
  content: "★";
  display: block;
  font-size: inherit;
  font-family: inherit;
  position: absolute;
  overflow: hidden;
  color: #F0A81D;
  top: 0;
  left: 0;
  transition: color 0.3s;
}
.pt-rating .pt-star-empty::before {
  content: none;
}
.pt-rating .pt-star-1::before {
  width: 10%;
}
.pt-rating .pt-star-2::before {
  width: 10%;
}
.pt-rating .pt-star-3::before {
  width: 30%;
}
.pt-rating .pt-star-4::before {
  width: 40%;
}
.pt-rating .pt-star-5::before {
  width: 50%;
}
.pt-rating .pt-star-6::before {
  width: 60%;
}
.pt-rating .pt-star-7::before {
  width: 70%;
}
.pt-rating .pt-star-8::before {
  width: 80%;
}
.pt-rating .pt-star-9::before {
  width: 90%;
}

/* Accordion
 * ------------------------------------------- */
.pt-accordion-title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 15px 24px;
  background-color: var(--pt-color-bg-secondary);
  font-weight: 500;
  text-transform: capitalize;
}
.pt-accordion-title::after {
  content: "\e906";
  font-family: pticons;
  transform: scale(0.7);
}
.pt-accordion-title.ui-state-active {
  background-color: var(--pt-color-accent);
  color: #fff;
}
.pt-accordion-title.ui-state-active::after {
  transform: rotate(180deg) scale(0.7);
}
.pt-accordion-title:not(:first-child) {
  margin-top: 16px;
}
.pt-accordion-content {
  display: none;
  padding: 24px 24px 18px;
}

.pt-accordion.style-2 .pt-accordion-title {
  padding: 0;
  background-color: transparent;
  font-size: 22px;
  font-weight: 700;
}
.pt-accordion.style-2 .pt-accordion-title.ui-state-active {
  color: currentColor;
}
.pt-accordion.style-2 .pt-accordion-title::after {
  content: "";
}
.pt-accordion.style-2 .pt-accordion-title span {
  position: relative;
}
.pt-accordion.style-2 .pt-accordion-title span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--pt-color-accent);
  scale: 0 100%;
  transform-origin: left;
  transition: scale 0.3s;
}
.pt-accordion.style-2 .pt-accordion-title.ui-state-active span::after {
  scale: 100%;
}
.pt-accordion.style-2 .pt-accordion-content {
  padding: 12px 0 0;
  font-size: 14px;
}

/* Blog
 * ------------------------------------------- */
.blog-block {
  position: relative;
}
.blog-block .wrap {
  position: relative;
}
.blog-block .blog-item {
  margin-bottom: 48px;
}

.blog-block + .pt-swiper-pagination {
  margin-top: 48px;
}

/* Type: Grid */
.blog-type-grid .entry-thumb::before {
  padding-top: var(--pt-aspect-ratio, 100%);
}
.blog-type-grid .entry-title {
  font-family: var(--pt-font-text);
  font-size: 20px;
  text-transform: capitalize;
}
.blog-type-grid .entry-excerpt {
  font-size: 14px;
}

/* Type: List */
@media (min-width: 600px) {
  .blog-type-list .wrap {
    display: grid;
    grid-template-columns: var(--blog-image-width, 180px) 1fr;
    gap: 30px;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .blog-type-list .entry-thumb {
    margin-bottom: 0;
  }
}
.blog-type-list .entry-thumb::before {
  padding-top: var(--pt-aspect-ratio, 100%);
}
.blog-type-list .entry-title {
  font-family: var(--pt-font-text);
  font-size: 20px;
  text-transform: capitalize;
}
.blog-type-list .entry-excerpt {
  font-size: 14px;
}
.blog-type-list .entry-more {
  margin-top: 12px;
}

/* Overlay */
.blog-style-overlay .wrap {
  overflow: hidden;
  border-radius: 10px;
}
.blog-style-overlay .wrap::before {
  content: "";
  display: block;
  padding-top: var(--pt-aspect-ratio, 100%);
}
.blog-style-overlay .entry-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
}
.blog-style-overlay .entry-thumb::before {
  display: none;
}
.blog-style-overlay .entry-caption {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.blog-style-overlay .entry-meta {
  pointer-events: auto;
  color: currentColor;
}
.blog-style-overlay .entry-more {
  pointer-events: auto;
}

/* Brands
 * ------------------------------------------- */
.pt-brands {
  position: relative;
}
.pt-brands-grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(var(--pt-cols, 6), 1fr);
  align-items: center;
  text-align: center;
}
.pt-brands-grid > div {
  position: relative;
}
.pt-brands .swiper-wrapper {
  align-items: center;
}

.pt-brand {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  transition: opacity 0.4s;
}
.pt-brand img {
  transition: opacity 0.4s, visibility 0.4s;
}
.pt-brand img + img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pt-brand.has-hover .pt-brand-inner {
  cursor: pointer;
}
.pt-brand.has-hover .pt-brand-inner:hover img {
  opacity: 0;
  visibility: hidden;
}
.pt-brand.has-hover .pt-brand-inner:hover img + img {
  opacity: 1;
  visibility: visible;
}

.pt-brands.has-divider .pt-brand::before {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: var(--pt-color-border);
}
.pt-brands.has-divider .pt-brand::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 1px;
  width: calc(100% - 1px);
  height: 1px;
  background-color: var(--pt-color-border);
}

/* Cart
 * ------------------------------------------- */
.pt-cart {
  position: relative;
  display: inline-block;
}
.pt-cart:hover .pt-cart-minicart {
  opacity: 1;
  visibility: visible;
}
.pt-cart-text::before {
  content: "\e908";
  font-family: pticons;
  font-size: 22px;
}
.pt-cart-count {
  position: absolute;
  top: -2px;
  right: -8px;
  padding: 0 3px;
  min-width: 16px;
  border-radius: 50%;
  background-color: var(--pt-color-accent);
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
}
.pt-cart-minicart {
  --submenu-margin: 18px;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  position: absolute;
  top: calc(100% + var(--submenu-margin));
  width: 350px;
  padding: 32px;
  border-radius: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 1.4px 3.25px 0px rgba(76, 58, 58, 0.04), 0px 7px 20px 0px rgba(76, 58, 58, 0.08);
  transition: opacity 0.3s, visibility 0.3s;
}
@media (max-width: 1024px) {
  .pt-cart-minicart {
    display: none;
  }
}
.pt-cart-minicart::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: var(--submenu-margin);
}
.pt-cart:not(.on-left) .pt-cart-minicart {
  left: 0;
}
.pt-cart.on-left .pt-cart-minicart {
  right: 0;
}

.woocommerce-cart .pt-cart .pt-cart-minicart,
.woocommerce-checkout .pt-cart .pt-cart-minicart {
  display: none;
}

/* Countdown
 * ------------------------------------------- */
.pt-countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .pt-countdown {
    flex-wrap: wrap;
    gap: 20px 40px;
  }
}
.pt-countdown-item {
  text-align: center;
}
.pt-countdown-title {
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.pt-countdown-digits {
  isolation: isolate;
  position: relative;
  display: inline-flex;
  justify-content: center;
  gap: 15px;
  font-family: var(--pt-font-primary);
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.pt-countdown-digits > div {
  min-width: 65px;
  padding: 16px 10px 5px;
  border-radius: 0;
  background-color: var(--pt-color-bg-secondary);
}
.pt-countdown-divider {
  position: relative;
  width: 11px;
}
@media (max-width: 767px) {
  .pt-countdown-divider {
    display: none;
  }
}
.pt-countdown-divider::before {
  content: ":";
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: var(--pt-font-primary);
  font-size: 48px;
  font-weight: 700;
}

/* Heading
 * ------------------------------------------- */
.pt-heading {
  isolation: isolate;
}
.pt-heading-title {
  position: relative;
  margin: 0;
  font-family: var(--pt-font-primary);
}
.pt-heading-subtitle {
  display: inline-block;
  margin-bottom: 16px;
  color: currentColor;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
.pt-heading-subtitle::before {
  content: "";
  width: 40px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-inline-end: 12px;
  background-color: currentColor;
}
.pt-heading-subtitle span {
  background-image: linear-gradient(92deg, #000000, #00000080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Icon Box
 * ------------------------------------------- */
.pt-icon-boxes {
  position: relative;
}
.pt-icon-boxes.layout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.pt-icon-boxes.style-before-content .pt-icon-box {
  display: flex;
  align-items: start;
  gap: 32px;
}
.pt-icon-boxes.style-before-content .pt-icon-box-icon {
  margin-bottom: 0;
}
.pt-icon-boxes.style-before-title .title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pt-icon-boxes.style-before-title .pt-icon-box-icon,
.pt-icon-boxes.style-before-title .pt-icon-box-title {
  margin-bottom: 0;
}
.pt-icon-boxes.style-before-title .pt-icon-box-text {
  margin-top: 16px;
}
.pt-icon-boxes.style-icon-on-hover .pt-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
}
.pt-icon-boxes.style-icon-on-hover .pt-icon-box > *:not(.pt-icon-box-icon) {
  pointer-events: none;
}
.pt-icon-boxes.style-icon-on-hover .pt-icon-box:hover .pt-icon-box-icon {
  opacity: 1;
}
.pt-icon-boxes.style-icon-on-hover .pt-icon-box-icon {
  pointer-events: none;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.pt-icon-box {
  isolation: isolate;
  overflow: hidden;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
}
.pt-icon-box-icon {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  transition: color 0.3s, background-color 0.3s;
}
.pt-icon-box-icon i,
.pt-icon-box-icon svg {
  width: 1em;
  height: 1em;
  display: block;
}
.pt-icon-box-icon svg path {
  transition: fill 0.3s;
}
.shape-square .pt-icon-box-icon {
  padding: 0.5em;
  background-color: #B8BCD1;
}
.shape-circle .pt-icon-box-icon {
  padding: 0.5em;
  border-radius: 50%;
  background-color: #B8BCD1;
}
.pt-icon-box-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: capitalize;
  transition: color 0.3s;
}
.pt-icon-box-subtitle {
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.pt-icon-box-subtitle span {
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.pt-icon-box-text {
  font-size: 14px;
  transition: color 0.3s;
}
.pt-icon-box-button {
  margin-top: 26px;
}

.show-text-on-hover .pt-icon-box-text {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.6s, margin 0.6s;
}
.show-text-on-hover .pt-icon-box:hover .pt-icon-box-text {
  max-height: 80px;
}

.show-button-on-hover .pt-icon-box-button {
  overflow: hidden;
  max-height: 0px;
  margin-top: 0;
  transition: max-height 0.6s, margin 0.6s;
}
.show-button-on-hover .pt-icon-box:hover .pt-icon-box-button {
  max-height: 42px;
  margin-top: 20px;
}

/* Portfolio
 * ------------------------------------------- */
.portfolio-block {
  position: relative;
}
.portfolio-block .wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-block .portfolio-item {
  margin-bottom: 30px;
}
.portfolio-block .entry-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-block .entry-thumb img {
  transition: transform 1s cubic-bezier(0.17, 0.59, 0.05, 0.96);
}
.portfolio-block .entry-thumb:hover img {
  transform: scale(1.03);
}
.portfolio-block .entry-caption .entry-date {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.portfolio-block .entry-caption .entry-title {
  margin: 0;
  font-family: var(--pt-font-text);
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: capitalize;
}
.portfolio-block .entry-caption .entry-excerpt {
  margin-top: 20px;
  font-size: 14px;
}
.portfolio-block .entry-caption .entry-more {
  margin-top: 20px;
}

.portfolio-type-grid .entry-thumb,
.portfolio-type-carousel .entry-thumb {
  position: relative;
}
.portfolio-type-grid .entry-thumb::before,
.portfolio-type-carousel .entry-thumb::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.portfolio-type-grid .entry-thumb img,
.portfolio-type-carousel .entry-thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-type-grid.orientation-portrait .entry-thumb::before,
.portfolio-type-carousel.orientation-portrait .entry-thumb::before {
  padding-top: 125%;
}
.portfolio-type-grid.orientation-cube .entry-thumb::before,
.portfolio-type-carousel.orientation-cube .entry-thumb::before {
  padding-top: 100%;
}

/* Caption Style: Standard ------------------- */
.caption-style-standard .entry-caption {
  margin-top: 20px;
}

/* Caption Style: Overlay -------------------- */
.caption-style-overlay .entry-caption {
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 30px;
  background: linear-gradient(#00000000, #00000099);
  color: #fff;
  transition: opacity 0.3s;
}
.caption-style-overlay .wrap:hover .entry-caption {
  opacity: 1;
}

/* Caption Style: Overlay Visible ------------ */
.caption-style-overlay-visible .entry-caption {
  z-index: 3;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 30px;
  background: linear-gradient(#00000000, #00000099);
  color: #fff;
  transition: opacity 0.3s;
}

/* Gallery ----------------------------------- */
.gallery-block {
  position: relative;
}
.gallery-block .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-block.popup-gallery .link {
  isolation: isolate;
}
.gallery-block.popup-gallery .link::before {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 32px;
  transition: opacity 0.3s, visibility 0.3s;
}
.gallery-block.popup-gallery .link i {
  z-index: 2;
  position: relative;
  opacity: 0;
  visibility: hidden;
  min-width: 60px;
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  transition: opacity 0.3s, visibility 0.3s;
}
.gallery-block .portfolio-item .wrap:hover .link::before,
.gallery-block .portfolio-item .wrap:hover .link i {
  opacity: 1;
  visibility: visible;
}

/* Products
 * ------------------------------------------- */
.pt-products {
  position: relative;
}

.elementor-editor-active .pt-products .type-product > .woocommerce-loop-product__link,
.elementor-editor-active .pt-products .type-product > .button,
.elementor-editor-preview .pt-products .type-product > .woocommerce-loop-product__link,
.elementor-editor-preview .pt-products .type-product > .button {
  display: none;
}

/* Progress Bar
 * ------------------------------------------- */
.pt-progress-bar-content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
}
.pt-progress-bar-line-wrapper {
  height: 18px;
  display: block;
  padding: 2px;
  background-color: var(--pt-color-bg-secondary);
}
.pt-progress-bar-line {
  width: 0;
  height: 100%;
  background-color: var(--pt-color-accent);
  transition: width 1s ease-in-out;
}

/* Radial Progress Bar
 * ------------------------------------------- */
.pt-radial-progress-bar {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 599px) {
  .pt-radial-progress-bar {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
  }
}
.pt-radial-progress-bar .circle {
  position: relative;
}
.pt-radial-progress-bar .circle svg {
  vertical-align: middle;
  transform: rotate(-90deg);
}
.pt-radial-progress-bar .circle svg circle {
  transition: stroke-dashoffset 1s linear;
}
.pt-radial-progress-bar .circle svg .bg {
  stroke: var(--pt-color-bg-secondary);
}
.pt-radial-progress-bar .circle svg .bar {
  stroke: var(--pt-color-accent);
  transform-origin: center;
}
.pt-radial-progress-bar .circle .number {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--pt-font-primary);
  font-size: 60px;
  font-weight: 600;
}
.pt-radial-progress-bar .content .subtitle {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.pt-radial-progress-bar .content .title {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}
.pt-radial-progress-bar .content .text {
  margin-top: 4px;
  font-size: 12px;
}

.pt-rating-wrapper .pt-rating {
  display: inline-flex;
}
.pt-rating-wrapper .pt-rating i {
  line-height: 1;
}

/* Search
 * ------------------------------------------- */
.pt-search-toggle {
  cursor: pointer;
  display: inline-block;
}
.pt-search-toggle::before {
  content: "\e909";
  vertical-align: middle;
  font-family: pticons;
}
.pt-search-toggle span {
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
}

/* Services
 * ------------------------------------------- */
.pt-services {
  position: relative;
}
.pt-services.layout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.pt-services .pt-service {
  isolation: isolate;
  position: relative;
}
.pt-services .pt-service::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.pt-services .pt-service-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.pt-services .pt-service-caption {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  padding: 40px 24px;
  background: linear-gradient(#00000033, #00000099);
  color: #fff;
}
.pt-services .pt-service-title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  text-transform: capitalize;
}
.pt-services .pt-service-subtitle {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.pt-services .pt-service-text {
  font-size: 14px;
}
.pt-services .pt-service-text > div {
  padding-top: 12px;
  padding-bottom: 4px;
}
.pt-services .pt-service-button {
  z-index: 1;
  position: relative;
  justify-content: start;
}
.pt-services .pt-service-button .pt-button {
  display: inline-flex;
}
.pt-services .pt-service-button:not(.hidden) {
  margin-top: 12px;
}
.pt-services .pt-service .hidden {
  --pt-max-height: 64px;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.4s, margin 0.3s;
}
.pt-services .pt-service:hover .hidden {
  max-height: var(--pt-max-height);
}
.pt-services .pt-service .pt-service-button.hidden {
  --pt-max-height: 27.2px;
}
.pt-services .pt-service:hover .pt-service-button {
  margin-top: 12px;
}

/* Simple Links
 * ------------------------------------------- */
.pt-simple-links {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 30px;
}
.pt-simple-links a {
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: left 95%;
  transition: background 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.pt-simple-links a:hover {
  background-size: 100% 1px;
}

.pt-simple-links.style-2 {
  flex-direction: column;
  align-items: normal;
  gap: 14px;
  font-weight: 600;
}
.pt-simple-links.style-2 a {
  isolation: isolate;
  position: relative;
  padding: 2px 14px 2px 0;
  background-image: none;
  transition: opacity 0.3s, color 0.3s;
}
.pt-simple-links.style-2 a::before {
  content: "\e900";
  vertical-align: middle;
  margin-right: 20px;
  display: inline-block;
  color: var(--pt-color-text);
  font-family: pticons;
  font-weight: 400;
  font-style: normal;
  transform: rotate(90deg);
  transition: opacity 0.3s, transform 0.3s, color 0.3s;
}
.pt-simple-links.style-2 a::after {
  content: "";
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 28px;
  height: 100%;
  background: linear-gradient(90deg, var(--pt-color-accent) 0%, rgba(36, 61, 199, 0) 100%);
  transition: opacity 0.3s;
}
.pt-simple-links.style-2 a:hover, .pt-simple-links.style-2 a:first-of-type {
  color: #fff;
}
.pt-simple-links.style-2 a:hover::before, .pt-simple-links.style-2 a:first-of-type::before {
  transform: rotate(0);
}
.pt-simple-links.style-2 a:hover::after, .pt-simple-links.style-2 a:first-of-type::after {
  opacity: 1;
}
.pt-simple-links.style-2 .divider {
  opacity: 0.1;
  height: 1px;
  background-color: var(--pt-color-text);
}
.pt-simple-links.style-2 .divider:last-of-type {
  display: none;
}

/* Slider
 * ------------------------------------------- */
.pt-slider {
  isolation: isolate;
  position: relative;
}
.pt-slider .swiper {
  height: 100%;
}

.pt-slide {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pt-slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pt-slide-image::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pt-slide-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.pt-slide-content-wrapper {
  z-index: 2;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  padding: 140px 15px;
}
.pt-slide .pt-heading-title {
  font-family: var(--pt-font-primary);
  font-size: var(--pt-typography-h1-font-size);
  font-weight: var(--pt-typography-h1-font-weight);
  line-height: 1.2;
  letter-spacing: var(--pt-typography-h1-letter-spacing);
  text-transform: uppercase;
}
.pt-slide-text {
  margin-top: 30px;
}
.pt-slide-buttons {
  display: inline-flex;
  align-items: center;
  gap: 15px 30px;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .pt-slide-buttons {
    flex-direction: column;
  }
}
.pt-slide-buttons .video-button {
  font-weight: 700;
  text-transform: capitalize;
}
.pt-slide-buttons .video-button::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 10px solid var(--pt-color-accent);
  transition: transform 0.3s;
}
.pt-slide-buttons .video-button:hover::before {
  transform: translateX(4px);
}

.pt-slide-title,
.pt-slide-text,
.pt-slide-buttons {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s, transform 1s;
}
.swiper-slide-active .pt-slide-title,
.swiper-slide-active .pt-slide-text,
.swiper-slide-active .pt-slide-buttons {
  opacity: 1;
  transform: translateY(0px);
}

.pt-slide-title {
  transition-delay: 0.1s;
}

.pt-slide-text {
  transition-delay: 0.2s;
}

.pt-slide-buttons {
  transition-delay: 0.3s;
}

.pt-slider-navigation {
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: var(--pt-color-accent);
}
.pt-slider-navigation::before {
  content: "";
  opacity: 0.3;
  position: absolute;
  left: 50%;
  top: 19px;
  width: 1px;
  height: 32px;
  background-color: currentColor;
}
.pt-slider-navigation .pt-swiper-button-prev,
.pt-slider-navigation .pt-swiper-button-next {
  position: static;
  width: 70px;
  height: 70px;
  background-color: transparent;
  text-align: center;
}
.pt-slider-navigation .pt-swiper-button-prev::before,
.pt-slider-navigation .pt-swiper-button-next::before {
  font-size: 16px;
  line-height: 70px;
}

/* Testimonials
 * ------------------------------------------- */
.pt-testimonials {
  position: relative;
}
.pt-testimonials.layout-grid {
  --columns: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 30px;
}
.pt-testimonials .pt-testimonial {
  position: relative;
  isolation: isolate;
}
.pt-testimonials .pt-testimonial-content {
  padding: 40px;
  background-color: var(--pt-color-bg-secondary);
  transition: opacity 0.3s, background-color 0.3s;
}
.text-align-center .pt-testimonials .pt-testimonial-content {
  text-align: center;
}
.text-align-right .pt-testimonials .pt-testimonial-content {
  text-align: right;
}
.pt-testimonials .pt-testimonial-meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 36px;
}
.text-align-center .pt-testimonials .pt-testimonial-meta {
  flex-direction: column;
  justify-content: center;
}
.text-align-right .pt-testimonials .pt-testimonial-meta {
  justify-content: end;
  flex-direction: row-reverse;
}
.pt-testimonials .pt-testimonial-avatar {
  position: relative;
  overflow: hidden;
  width: 56px;
  border-radius: 50%;
  transition: border-color 0.3s;
}
.pt-testimonials .pt-testimonial-avatar::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.pt-testimonials .pt-testimonial-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.pt-testimonials .pt-testimonial-author {
  font-weight: 600;
  transition: color 0.3s;
}
.pt-testimonials .pt-testimonial-occupation {
  opacity: 0.8;
  font-size: 12px;
  transition: color 0.3s;
}
.pt-testimonials .pt-testimonial-text {
  font-size: 18px;
  transition: color 0.3s;
}
.pt-testimonials .pt-testimonial-rating {
  margin-bottom: 40px;
  display: inline-flex;
  gap: 6px;
  line-height: 1;
}

/* Testimonials 2
 * ------------------------------------------- */
.pt-testimonials-2 {
  position: relative;
}
.pt-testimonials-2 .pt-testimonial {
  position: relative;
  isolation: isolate;
}
.pt-testimonials-2 .pt-testimonial-content {
  isolation: isolate;
  position: relative;
  padding: 40px;
  background-color: var(--pt-color-bg-secondary);
  transition: opacity 0.3s, background-color 0.3s;
}
.pt-testimonials-2 .pt-testimonial-content::before {
  content: "\e928";
  display: block;
  margin-bottom: 30px;
  color: var(--pt-color-accent);
  font-family: pticons;
  font-size: 36px;
}
.pt-testimonials-2 .pt-testimonial-meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 40px;
}
.pt-testimonials-2 .pt-testimonial-avatar {
  position: relative;
  overflow: hidden;
  width: 56px;
  border-radius: 50%;
  transition: border-color 0.3s;
}
.pt-testimonials-2 .pt-testimonial-avatar::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.pt-testimonials-2 .pt-testimonial-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.pt-testimonials-2 .pt-testimonial-author {
  font-weight: 600;
  transition: color 0.3s;
}
.pt-testimonials-2 .pt-testimonial-occupation {
  opacity: 0.8;
  font-size: 12px;
  transition: color 0.3s;
}
.pt-testimonials-2 .pt-testimonial-text {
  font-size: 18px;
  transition: color 0.3s;
}
.pt-testimonials-2 .pt-testimonial-rating {
  position: absolute;
  top: 48px;
  right: 40px;
  display: inline-flex;
  margin-left: auto;
  gap: 6px;
}
.pt-testimonials-2 .pt-testimonial-image {
  position: relative;
}
.pt-testimonials-2 .pt-testimonial-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pt-testimonials-2 .pt-testimonial .bg-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .pt-testimonials-2 .pt-testimonial:has(.pt-testimonial-image) {
    display: flex;
  }
}
@media (min-width: 768px) {
  .pt-testimonials-2 .pt-testimonial:has(.pt-testimonial-image) .pt-testimonial-content {
    flex: 60%;
    margin-top: 140px;
  }
}
@media (max-width: 767px) {
  .pt-testimonials-2 .pt-testimonial:has(.pt-testimonial-image) .pt-testimonial-image {
    display: none;
  }
}
@media (min-width: 768px) {
  .pt-testimonials-2 .pt-testimonial:has(.pt-testimonial-image) .pt-testimonial-image {
    flex: 40%;
  }
}

/* Text Marquee
 * ------------------------------------------- */
.pt-text-marquee {
  --pt-gap: 30px;
  --pt-direction: -100%;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}
.pt-text-marquee-original, .pt-text-marquee-copy {
  display: flex;
  gap: var(--pt-gap);
  margin-inline-end: var(--pt-gap);
  animation: pt-text-marquee var(--duration, 20s) linear infinite;
}
.pt-text-marquee-text {
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}
.pt-text-marquee span {
  font-style: italic;
}
.pt-text-marquee i {
  position: relative;
  top: -1px;
  vertical-align: middle;
  transition: background-color 0.3s, color 0.3s;
}
.pt-text-marquee.reverse {
  --pt-direction: 100%;
  flex-direction: row-reverse;
}

@keyframes pt-text-marquee {
  0% {
    transform: translateX(0) translateZ(0);
  }
  100% {
    transform: translateX(var(--pt-direction)) translateZ(0);
  }
}
/* Video
 * ------------------------------------------- */
.pt-video {
  position: relative;
}
.has-image .pt-video-button-wrapper {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pt-video-button {
  isolation: isolate;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.pt-video-button-icon {
  isolation: isolate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: var(--pt-color-accent);
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.pt-video-button-icon::before {
  content: "";
  width: 0;
  height: 0;
  margin-left: 2px;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid currentColor;
  transition: transform 0.3s ease-in-out;
}
.pt-video-button-icon::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100%;
  height: 100%;
  background: var(--pt-color-accent);
  animation: pulse-border 1.5s ease-out infinite;
}
.pt-video-button:hover .pt-video-button-icon::before {
  transform: scale(0.85);
}
.pt-video-image {
  position: relative;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}
.pt-video-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.pt-video-image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.pt-video-image::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
